<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>madsgraphics/alfred-vhosts</string>
	<key>connections</key>
	<dict>
		<key>2F7B29D0-20B8-4146-9E0D-83B24D3D6349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83D710B3-596B-498F-9996-55CB8B49E849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7A0BDE0A-DB62-496F-8382-F29519CC1545</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F7B29D0-20B8-4146-9E0D-83B24D3D6349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EDC8DC5-75CF-4F34-9B20-6D84B2D62F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>madsgraphics</string>
	<key>description</key>
	<string>Open a local vhost</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VHosts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vhost</string>
				<key>runningsubtext</key>
				<string>Searching for vhost with "{query}"</string>
				<key>script</key>
				<string>#!/bin/bash

ROOT="/usr/local/etc/nginx"

CONFS="sites-enabled"
EXT="dev"

results=$(grep -ohE "^(?:[[:blank:]]+server_name)((?:[[:blank:]]+)\*?[a-z0-9_.-]+\.dev)+" /usr/local/etc/nginx/sites-enabled/*.conf | awk -F " +server_name +" '{n=split($2,a," "); for (i=1; i&lt;=n; i++) print a[i]}' | grep "{query}" | sort)

out=""; count=0
for vhost in $results; do
	count=$((count+1))
	if [ $count -gt 20 ]; then break; fi

	title=$vhost
	subtitle="Open $vhost"

	out+="&lt;item arg=\"http://$vhost\" uid=\"vhost-$(date +%s)\" valid=\"yes\"&gt;\
		&lt;title&gt;$title&lt;/title&gt;\
		&lt;subtitle&gt;$subtitle&lt;/subtitle&gt;\
	&lt;/item&gt;"
done
echo "&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;&lt;items&gt;$out&lt;/items&gt;"
</string>
				<key>subtext</key>
				<string>Search for vhost</string>
				<key>title</key>
				<string>Open local vhost</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7EDC8DC5-75CF-4F34-9B20-6D84B2D62F29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set finderSelection to ""set theTarget to ""tell application "Finder"	set finderSelection to (get selection)	if length of finderSelection is greater than 0 then		set theTarget to finderSelection	else		try			set theTarget to (folder of the front window as alias)		on error			return "No selection available in Finder."		end try	end if		return (quoted form of (q as string)) &amp; " " &amp; (quoted form of POSIX path of (theTarget as string))end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2F7B29D0-20B8-4146-9E0D-83B24D3D6349</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash

read HOST TARGET &lt;&lt;&lt; $(echo {query})

ROOT="/usr/local/etc/nginx"

VAULT="sites-available"
CONFS="sites-enabled"
EXT="dev"

RESTART="/usr/bin/sudo /usr/bin/lunchy restart nginx"

FNAME="$HOST.$EXT.conf"
FPATH="$ROOT/$VAULT/$FNAME"
(/bin/cat &lt;&lt;EOF
server {
  listen       80;
  listen       443 ssl;
  server_name  $HOST.$EXT '~^$HOST\.(\d{1,3}\.){4}xip\.io$';

  root         $TARGET;

  autoindex    on;

  location / {
    index  index.html index.php;
  }

  # pass the PHP scripts to PHP-FPM
  #
  location ~ \.php$ {
    include       fastcgi.conf;
    fastcgi_pass  php;
  }
}
EOF
) &gt; $FPATH

/bin/ln -sf "../$VAULT/$FNAME" "$ROOT/$CONFS/$FNAME"
$RESTART &gt; /dev/null 2&gt;&amp;1

sleep 1
/usr/bin/open "http://$HOST.$EXT/"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>83D710B3-596B-498F-9996-55CB8B49E849</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vhost add</string>
				<key>subtext</key>
				<string>Create a new vhost from current folder in Finder</string>
				<key>text</key>
				<string>Add local vhost</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A0BDE0A-DB62-496F-8382-F29519CC1545</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2F7B29D0-20B8-4146-9E0D-83B24D3D6349</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>7A0BDE0A-DB62-496F-8382-F29519CC1545</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7EDC8DC5-75CF-4F34-9B20-6D84B2D62F29</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>83D710B3-596B-498F-9996-55CB8B49E849</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/madsgraphics/alfred-vhosts</string>
</dict>
</plist>
